name: Build

on:
  push:
    branches: ['main']
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          components: clippy, rustfmt
      - name: format
        run: |
          cargo fmt --version
          cargo fmt --all -- --check
      - name: lint
        run: |
          cargo clippy --version
          cargo clippy -- -D warnings
      - name: test
        run: cargo test --verbose
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          targets: x86_64-unknown-linux-gnu, x86_64-pc-windows-gnu
      - name: Prepare dist directory
        run: mkdir -p dist
      - name: Copy LICENSE to dist
        run: cp LICENSE dist/
      - name: Build Linux
        run: |
          cargo build --locked --release --target x86_64-unknown-linux-gnu
          mv ./target/x86_64-unknown-linux-gnu/release/rs_manifest_patcher dist/rs_manifest_patcher-linux-x86_64
      - name: Setup Windows - Install mingw-w64
        run: sudo apt-get install -y mingw-w64
      - name: Build Windows
        run: |
         cargo build --locked --release --target x86_64-pc-windows-gnu
          mv ./target/x86_64-pc-windows-gnu/release/rs_manifest_patcher.exe dist/rs_manifest_patcher-windows-x86_64.exe
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/
          retention-days: 3
